<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Material + Creep Data
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
  />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="../../assets/css/fontawesome-all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- Custom CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#" id="pageTitle">Material + Creep Data</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <table class="table table-hover" id="creepDataTable"></table>
                  </div>
                </div>
                <div class="card-footer" id="creepDataTableWarning">

                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="footer footer-black  footer-white ">
          <div class="container-fluid">
            <div class="row">
              <nav class="footer-nav">
                <ul>
                  <li>
                    <a href="https://github.com/ingeneric/creep-models" target="_blank" title="Github Page" class="btn btn-info">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                  <li>
                    <a href="../../assets/donations.html" target="_blank" title="Donations" class="btn btn-info">
                      <i class="far fa-smile"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#Lic" target="_blank" title="Licenses" class="btn btn-info">
                      <span class="fa fa-balance-scale"></span>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="credits ml-auto btn btn-default">
                <span class="copyright">
                  ©
                  <script>
                    document.write(new Date().getFullYear())
                  </script> CA Bezuidenhout
                </span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../../assets/js/core/jquery.min.js"></script>
    <script src="../../assets/js/core/popper.min.js"></script>
    <script src="../../assets/js/core/bootstrap.min.js"></script>
    <script src="../../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../../assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
    <!-- Data File -->
    <script src="data.js"></script>
    <!-- Global Script-->
    <script src="../../assets/js/main-script.js"></script>
    <!-- Local Script -->
    <script src="script.js"></script>
</body>

</html>