.main-panel {
  width: calc(100%);
  /*background-color: rgb(224, 232, 245);*/
}

.table>thead>tr>th {
  text-transform: initial;
  /*border: 1px solid #2980B9;*/
}


.cp { 
  -moz-osx-font-smoothing: grayscale; 
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
  -webkit-transform: translateZ( 0 ); 
  transform: translateZ( 0 ); 
  transition: -webkit-transform .25s ease-out; 
  transition: transform .25s ease-out; 
  transition: transform .25s ease-out, -webkit-transform .25s ease-out; 
  
}
.cp:hover, .cp:focus { 
  -webkit-transform: scale( 1.05 ); 
  transform: scale( 1.05 ); 
  background-color: #51bcda;
  color: white;
  transition: background-color .15s ease-in-out;
}
.cp:active { -webkit-transform: scale( .90 ); transform: scale( .90 ); }